/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(46, 46, 46);
    border-radius: 10px 0px 0px 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px 0px 0px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
}

body {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

#page {
    border: 1px solid white;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, black, rgb(50, 50, 50), black);
}

#profile {
    display: flex;
    align-items: center;
    border-bottom: 10px;
    padding: 5px;
}

#profile #profile-image {
    border-radius: 25px;
    width: 350px;
    height: auto;
    margin-right: 50px;
}

#profile #profile-name {
    color: gray;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width:1100px) {
    #profile {
        display: block;
        text-align: center;
    }

    #profile #profile-image {
        margin-right: 0;
    }
}

@media screen and (max-width:700px) {
    #profile #profile-name {
        font-size: 50px;
    }
}

@media screen and (max-width:450px) {
    #profile #profile-image {
        width: 95%;
    }
}

#about-me {
    padding: 5% 10% 5% 10%;
}

#about-me .title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#about-me .description {
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5%;
}

#about-me #project .project-article {
    margin-left: 5%;
    border: 2px solid white;
    border-radius: 25px;
    padding: 2%;
}

#about-me #project .project-article h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#about-me #project .project-article .project-description .title {
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-me #project .project-article .project-description .description {
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -15px;
    margin-left: 30px;
}

#contact {
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}