body {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

#page {
    border: 1px solid white;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, black, rgb(20, 19, 19), black);
}

#profile {
    display: flex;
    align-items: center;
    border-bottom: 10px;
    padding: 5px;
}

#profile #profile-image {
    border-radius: 25px;
    margin-right: 50px;
}

#profile #profile-name {
    color: gray;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width:1100px) {
    #profile {
        display: block;
        text-align: center;
    }

    #profile #profile-image {
        margin-right: 0%;
    }
}

@media screen and (max-width:700px) {
    #profile #profile-name {
        font-size: 50px;
    }
}

#about-me {
    padding: 5% 15% 5% 15%;
}

#about-me .title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#about-me .description {
    color: white;
    padding-left: 5%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#contact {
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}