/* body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    height: 100vh;
    max-width: 65%;
    margin: auto;
    color: rgb(187, 187, 187);
}

#sidebar {
    background-color: #2c3e50;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    height: 100vh;
}

#sidebar #profile_image {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

#sidebar #nome {
    margin-top: 0;
    font-size: 50px;
}

#contact-info {
    margin-top: 30px;
}

#contact-info p {
    margin: 10px 0;
}

#contact-info #contact-github a {
    color: white;
}

#main-content {
    padding: 40px;
    background-color: rgb(49, 49, 49);
    box-sizing: border-box;
}

#main-content h1 {
    margin-top: 0;
} */

body {
    display: flex;
    max-width: 65%;
    margin: auto;
    color: white;
    background-color: #212e3b;
}

a {
    color: white;
}

.sidebar {
    background-color: #2c3e50;
    height: 100vh;
    padding: 20px;
    width: 30%;
}

.sidebar .profile_image {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.main-content {
    background-color: #1e2935;
    padding-left: 40px;
    padding-right: 40px;
}

.main-content .name {
    margin: 0;
    font-size: 130px;
}

.main-content .presentation {
    font-size: 20px;
}

.main-content .section-title {
    font-size: 60px;
}

.main-content .project-page .projects {
    display: flex;
}

.main-content .project-page .projects .project-frame {
    /* border: 4px solid #2c3e50; */
    background-color: #2c3e50;
    width: 20%;
    margin: 20px;
    padding: 5px;
}

.main-content .project-page .projects .project-frame .title {
    font-size: 30px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.main-content .project-page .projects .project-frame .description {
    font-size: 20px;
    margin: 0;
    padding: 5px;
}